[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[packages]
tensorflow = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
scipy = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.6"
